/**--------------------------------Genural Stylesing--------------------------------*/


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: 300;
}

body {
    height: 100vh;
}

:root {
    --hf: "Italianno", sans-serif;
    /* --hf = Heading Fonts*/
    --mf: "Roboto", sans-serif;
    /* --mf = Main Fonts*/
    --fw3: 300;
    --fw4: 400;
    /* --fw = Fonts weight*/
    --lg: rgba(87, 87, 87, 0.9);
    --border: 1px black solid;
    --offwhite: rgb(218, 216, 216);
    --lightBlack: rgba(44, 43, 43, 1);
    --white: white;

}

.border {
    border: var(--border);
}

p {
    padding: 0 0.5em;
}
/* Topics are one lower than subHeadings*/
.topics {
    margin: 0.5em 0;
}
.btn {
    padding: 0.5em;
    margin: 0 auto;
    margin-left: auto;
    font-family: var(--mf);
    font-size: 1em;
    font-weight: 400;
    border-radius: 10px;
}

/*-=-=-=-=-=-=-=-=-=-=NAV BAR-=-=-=-=-=-=-=-=-=-=--*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(81, 112, 138);
}

.logo {
    color: rgba(255, 255, 255, 0.767);
    text-transform: capitalize;
    font-family: var(--hf);
    font-size: 2.2rem;
}

.nav-links {
    display: flex;
    width: 600px;
    justify-content: space-around;

}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: var(--white);
    text-decoration: none;
    font-weight: 400;
    list-style: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 20px;
    height: 2px;
    background-color: var(--white);
    margin: 5px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.toggle .line1 {
    transform: rotate(-405deg) translate(-5px, 5px);
    -webkit-transform: rotate(-405deg) translate(-5px, 5px);
    -moz-transform: rotate(-405deg) translate(-5px, 5px);
    -ms-transform: rotate(-405deg) translate(-5px, 5px);
    -o-transform: rotate(-405deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;

}

.toggle .line3 {
    transform: rotate(405deg) translate(-5px, -5px);
    -webkit-transform: rotate(405deg) translate(-5px, -5px);
    -moz-transform: rotate(405deg) translate(-5px, -5px);
    -ms-transform: rotate(405deg) translate(-5px, -5px);
    -o-transform: rotate(405deg) translate(-5px, -5px);
}

/*-=-=-=-BURGER ANIMATIONS*/
@media screen and (max-width: 790px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(81, 112, 138);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transition: transform 0.5s ease-in;
        -webkit-transition: transform 0.5s ease-in;
        -moz-transition: transform 0.5s ease-in;
        -ms-transition: transform 0.5s ease-in;
        -o-transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
        -webkit-transform: translateX(50px);
        -moz-transform: translateX(50px);
        -ms-transform: translateX(50px);
        -o-transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
}

section {
    min-height: 100vh;
    height: auto;
    display: flex;
}

.infoWrap {
    border: var(--border);
}

.infoCol {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;


}

.imageDiv {
    height: 100vh;
    width: 100%;


}

.headings {
    font-family: var(--hf);
    font-size: 5rem;

}

.subHeadings {
    display: flex;
    justify-content: center;
    font-family: var(--hf);
    font-size: 3rem;


}

.centered {
    text-align: center;
}

/*-=-=-=-=-=-=-=-=-=-=-=WELCOME PAGE-=-=-=-=-=-=---=-=-*/


#welcomeSection {
    display: grid;
    grid-template-columns: 40% 60%;
}

#welcomeSubHead {
    margin-top: -0.7em;
    margin-bottom: .7em;
}

#welcomePara {
    line-height: 22.5px;
    color: var(--lg);
}

#welcomeWrap {
    background-image: linear-gradient(to bottom right, rgb(189, 235, 229), white);
}

#welcomeImg {
    background-image: url(../images/ballerina-standing-backstage-before-going-on-stage.jpg);
    background-size: cover;
    background-position: center;
}

/*-=-=-==-=-=-=-=-=-=-=-=-=-TESTIMONIALS-=-=-=-=-=-==-=-*/

#testimonialsSection {
    display: grid;
    grid-template-columns: 60% 40%;
}

#testimonials {
    grid-column: 2/3;
}

#testimonialsImg {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url(../images/three-little-ballet-girls-.jpg);
    background-size: cover;
    background-position: center;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=TEACHERS==-=-=-=-=-=-=--=-=-*/
#teachersSection {
    display: flex;
    flex-direction: column;
    flex: 1;

}

#teacherWrapper {
    display: grid;
    grid-template-columns: auto auto auto;


}

#tracyWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;

}

#leilaniWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;

}

#historyWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;

}

#tracyImg {
    background-image: url(../images/tracy.jpg);
    background-size: cover;
    background-position: top;
    height: 200px;
    width: 200px;
}

#leilaniImg {
    background-image: url(../images/tracy_lielanie.jpg);
    background-size: cover;
    background-position: top;
    height: 200px;
    width: 200px;
}

#historyImg {
    background-image: url(../images/SandyDavis.jpg);
    background-size: cover;
    background-position: top;
    height: 200px;
    width: 200px;
}




/*-=-=-=--=-=-=-=-=-=--=-=-=-=-=-SCEDULE -=-=-=-=--=-=-=-=-=-*/
#sceduleSection {
    display: grid;
    grid-template-columns: 50% 50%;
}

#sceduleInfo {
    grid-column: 2/3;
}

#sceduleImg {
    background-image: url(../images/david-hofmann-4QPVQuf0WMQ-unsplash.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: top center;
    grid-column: 1/2;
}

/*-=-=-==-=-=-=-=-=-=-=-=-=-=--=--=ENROLMENT-=-=-=--=-=-=-=-=-=-*/
#enrolmentSection {
    display: grid;
    grid-template-columns: 60% 40%;
}

#enrolemtFormWrapper {
    width: 60%;
    border: 1px black solid;
    padding: 0.7em 2em;
    color: var(--offwhite)
}

#enrolmentImg {
    background-image: url(../images/Little_dancer.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 1/3;
}

.formInputs {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
input {
    margin-bottom: 1em;
}



/*-=-=-=-=-==-=-=-=-=--=-=-=-=-=-=-=--LOCATIONS-=-=-=-=-=-=-=-=--=*/
#locationSection {
    display: grid;
    grid-template-columns: 40% 60%;
}

#locationImg {
    background-image: url(../images/Dancer_on_rock-min.jpg);
    background-size: cover;
    background-position: center top;
    grid-column: 1/3;
}

#locationWrapper {
    width: 50%;
    margin-left: auto;
    height: 100vh;
}

/*-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-==-=ATTIRE-=-=--=-=-=-=-=-=-=-=-=*/
#attireHeading {
    background-color: yellow;
}

#attireSection {
    display: grid;
    grid-template-columns: 60% 40%;
}

#attireImg {
    background-image: url(../images/agility-1850711_1280.jpg);
    background-size: cover;
    background-position: center top;
    grid-column: 2/3;
    grid-row: 1/2;
}

/*-=-=-==-=-=-=--=-=-=-=-=-=--=-=-=-=-=-FOOTER==-=-=-=-=-=-=-=-==-=-=-=*/
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    min-height: 10vh;

}

.feet {
    color: var(--white);
    font-family: var(--mf);
}