@import url('https://fonts.googleapis.com/css?family=Exo|Italianno&display=swap');

/*---------Landing Page --------*/

.dancer {
	height: 100vh;
	background: url("../images/dancer2.jpg") no-repeat top right fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;


	flex-direction: column;
	align-items: center;
	justify-content: center;

	position: absolute;
}

.grayout-overlay {
	position: relative;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.main-heading {
	color: white;
	font-family: "Italianno", sans-serif;
	margin-bottom: 75px;
	font-size: 4.5rem;
	align-self: auto;
}

.motto {
	font-family: "Italianno", sans-serif;
	color: rgba(255, 255, 255, 0.8);
	font-size: 3.5em;
	margin-bottom: 50px;
}

/*---------------BUTTONS---------------*/
.enter-btn {
	margin: 80px auto;
	display: block;
	font-family: "Italianno", sans-serif;
	font-size: 60px;
	color: rgba(255, 255, 255, 0.8);
	background-color: transparent;
	border-color: transparent;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

.enter-btn:hover {
	color: palevioletred;
	background-color: transparent;
	border-color: transparent;
	direction: none;
}

a:hover {
	text-decoration: none;
}

.btn {
	display: inline-block;
	font-family: "Exo";
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: transparent;
	border: .5px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 1rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/*---------------NavBar----------------*/
.navbar {
	padding: 0;

}

.navbar.bg {
	background-color: rgb(0, 0, 0);
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.8);
	font-family: "Italianno", sans-serif;
	font-size: 30px;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;

}

.navbar-dark .navbar-nav .nav-link:hover {
	color: palevioletred;
}

/*-------------------Genural Stylesing------------------------*/
/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: transparent;
}

.container-fluid {
	padding: 0;
	margin: 0;
}

.inline-block {
	display: inline-block;
}

.uppercase {
	text-transform: uppercase;
}

.pageheader {
	display: block;
	font-family: "Italianno", sans-serif;
	font-size: 60px;
	text-align: center;
	color: rgba(255, 255, 255, 0.9);
	;
}

h5,
h4,
h3,
h2 {
	font-family: "Italianno", sans-serif;
	font-size: 40px;
	text-align: center;
	color: rgba(255, 255, 255, 0.9);

}



.sm-txt {
	font-size: xx-small;

}

.card {
	background: transparent;
	border-radius: 2px;
	display: inline-block;
	height: auto;
	margin: 1rem;
	position: relative;
	width: auto;
	border: 0;
}

.loc {

	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	border-radius: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-loc {
	color: #fff;
	background-color: rgba(255, 208, 0, 0.5);
	border-color: #6c757d;
	margin: 5px;
}







/*.loc:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}*/

.shops {
	align-content: center;
}

.shops li {
	list-style: none;

}

p {
	font-family: "Exo", sans-serif;
}

/*--------------------Teachers------------------------*/



.pic-teacher {
	height: 90vh;
	min-height: 763px;
	background: url("../images/pexels-photo-manygirls.jpeg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;


	align-items: center;
	justify-content: center;

	position: absolute;
	flex-direction: column;
	overflow: auto;
}

.card-text {
	color: rgba(255, 255, 255, 0.8);
	font-family: "Exo", sans-serif;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50px;
}

.card-title {
	color: rgba(255, 255, 255, 0.8);
	;
	font-family: "Exo", sans-serif;

}

#CIP {
	border-radius: 50px;
}

p {
	color: rgba(255, 255, 255, 0.8);
	;
	font-family: "Exo", sans-serif;
}

.history-container {
	background-color: transparent;
	border-radius: 50px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50px;
}

.card-block {
	background-color: transparent;
	border-radius: 50px;
	-webkit-box-shadow: 0px 0px 45px 2px rgba(15, 1, 15, 1);
	-moz-box-shadow: 0px 0px 45px 2px rgba(15, 1, 15, 1);
	box-shadow: 0px 0px 45px 2px rgba(15, 1, 15, 1);
	border-radius: 50px;

}





.container-fluid .teachers {
	padding-left: 0px;
	padding-right: 0px;
}



/*---------------------------------FOOTER--------------*/










/*--------ABOUT PAGE --------------------*/
.about-pic {
	height: 90vh;
	min-height: 763px;
	background: url("../images/ballerina-standing-backstage-before-going-on-stage.jpg") no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	flex-direction: column;
}

.about-container {
	background-color: transparent;
	border-radius: 50px;
	margin: 20px;
	text-align: center;

}

.about-container p {
	font-family: "Exo", sans-serif;
	font-size: medium;
	text-align: center;
	color: #F8F6F6;
}


/*-----------------------------Lococation Page-----------------------*/
.container-loc {
	height: 100vh;
	background: url("../images/Dancer_on_rock-min.jpg") no-repeat top left fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;

	flex-direction: column;
}

.grayout-overlay-loc {
	position: relative;
	left: 0;
	top: 0;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

/*------------------------------------------Schedule--------------------------------------*/

.container-times {}

.table {
	border-radius: 30px;
	font-family: "Exo", sans-serif;
	-webkit-box-shadow: 0px 0px 29px -7px rgba(13, 12, 13, 1);
	-moz-box-shadow: 0px 0px 29px -7px rgba(13, 12, 13, 1);
	box-shadow: 0px 0px 29px -7px rgba(13, 12, 13, 1);
}

.table td,
.table th {
	border-top: none
}



/*------------------------------------------Information Page--------------------------------------*/
.info {
	text-align: center;
	border: 0;
	border-radius: 50px;
	margin: 10px;
	color: white;
	-webkit-box-shadow: 0px 0px 35px -7px rgba(245, 242, 245, 1);
	-moz-box-shadow: 0px 0px 35px -7px rgba(245, 242, 245, 1);
	box-shadow: 0px 0px 35px -7px rgba(245, 242, 245, 1);
}

.col-12 {

	flex: 0 0 100%;
	max-width: 100%;
}

.container-info {
	/*background: rgba(1, 23, 31, 1);
	background: -moz-linear-gradient(top, rgba(1, 23, 31, 1) 0%, rgba(41, 184, 229, 1) 99%, rgba(179, 220, 237, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(1, 23, 31, 1)), color-stop(99%, rgba(41, 184, 229, 1)), color-stop(100%, rgba(179, 220, 237, 1)));
	background: -webkit-linear-gradient(top, rgba(1, 23, 31, 1) 0%, rgba(41, 184, 229, 1) 99%, rgba(179, 220, 237, 1) 100%);
	background: -o-linear-gradient(top, rgba(1, 23, 31, 1) 0%, rgba(41, 184, 229, 1) 99%, rgba(179, 220, 237, 1) 100%);
	background: -ms-linear-gradient(top, rgba(1, 23, 31, 1) 0%, rgba(41, 184, 229, 1) 99%, rgba(179, 220, 237, 1) 100%);
	background: linear-gradient(to bottom, rgba(1, 23, 31, 1) 0%, rgba(41, 184, 229, 1) 99%, rgba(179, 220, 237, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01171f', endColorstr='#b3dced', GradientType=0);
}*/

	height: 90vh;

	background: url("../images/gaelle-marcel-1PKjyPsH8sw-unsplash.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	flex-direction: column;
	overscroll-behavior: auto;
}

#Pic-container {
	max-height: 90vh;
	width: 100%;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: auto;

}